body{
    background-color: #97361d;
    color: #cbc689;
    
}
.rocketTour{
    border: 2px solid #d15f41;
    width: 520px;
}
img{
    margin-left: 2%;
}
.lauchVideoWindow{
    margin-left: 2%;
}
.vehicle{
    background-color: #dd5734;
    
}